<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.css"
          th:href="@{/static/css/bootstrap-responsive.css}"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.css"
          th:href="@{/static/base/css/base.css}"/>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    if (!this.SimpleMVC) {
        this.SimpleMVC = {};
        SimpleMVC.contextPath = /*[[@{'/'}]]*/"/test";
        SimpleMVC.editAction = /*[[@{'/edit_input'}]]*/"/test";
    }
    /*]]>*/
</script>
<script src="../static/base/js/base.js" th:src="@{/static/base/js/base.js}"></script>
<script src="../static/base/js/index.js" th:src="@{/static/base/js/index.js}"></script>
<body>
<div th:include="fragment/layout/navbar::navbar" th:remove="tag"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" th:with="isFirstSide='true'" th:include="fragment/layout/sidebar :: sidebar"></div>
        <!--/span-->
        <div class="span9">
            <div class="row" id="listForm">
                <div class="span9">
                    <div class="span5">
                        <form class="form-inline" method="post" action="#" th:object="${addressInfo}"
                              th:attr="action=@{/search}">
                            <input type="text" class="input-small" th:field="*{name}" placeholder="姓名" name="name"/>
                            <input type="text" class="input-small" th:field="*{email}" placeholder="Email"
                                   name="email"/>
                            <input type="text" class="input-small" th:field="*{phone}" placeholder="手机号码"
                                   name="phone"/>
                            <button type="submit" class="btn" id="searchButton">搜索</button>
                        </form>
                    </div>
                    <div class="span1 offset2">
                        <button type="button" class="btn" id="addButton">新增</button>
                    </div>
                </div>
                <div class="span9">
                    <table class="table" id="listTable">
                        <thead>
                        <tr>
                            <th class="center middle"><input type="checkbox" class="allCheck"/></th>
                            <th class="center middle">姓名</th>
                            <th class="center middle">邮箱</th>
                            <th class="center middle">手机号码</th>
                            <th class="center middle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="addressInfo : ${pages}">
                            <td class="center middle">
                                <input type="checkbox" name="ids" value="" th:value="${addressInfo.id}"/>
                            </td>
                            <td class="center middle" th:text="${addressInfo.name}">Michael Jackson</td>
                            <td class="center middle" th:text="${addressInfo.email}">1@1.com</td>
                            <td class="center middle" th:text="${addressInfo.phone}">186xxxx2514</td>
                            <td class="center middle">
                                <button class="btn btn-link editButton">编辑</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--/table-->

                    <div class="pagerBar">
                        <div class="delete">
                            <input type="button" id="deleteButton" class="btn"
                                   th:attr="url=@{/del}" value="删 除" disabled="disabled"/>
                        </div>
                        <div class="pager">

                            <span id="pager"></span>
                            <input type="hidden" name="pageNumber" id="pageNumber" value="${pager.pageNumber}"/>
                            <input type="hidden" name="orderBy" id="orderBy" value="${pager.orderBy}"/>
                            <input type="hidden" name="order" id="order" value="${pager.order}"/>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/span-->

    </div>
    <!--/row-fluid-->
    <div th:include="fragment/common :: [//footer]"></div>
</div>
<!--/.fluid-container-->
</body>
</html>