@import url('../../bootstrap/css/bootstrap.min.css');
@import url('../..                            ccc /bootstrap/css/bootstrap-responsive.min.css');

.center {
    text-align: center !important;
}

.middle {
    vertilca-align: middle !important;
}

.inputLabel {
    width: 100px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold !important;
}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

#footerText {
    text-align: center;
    position: fixed;
    bottom: 0;
}

label.valid {
    width: 24px;
    height: 24px;
    background: url(../img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}