<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/layout/mainLayout">

<head>
    <script th:src="@{/static/base/js/base.js}"></script>
    <script th:src="@{/static/base/js/index.js}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <form id="DemoPageForm" class="form-inline" method="post" action="#" th:object="${addressInfo}"
          th:attr="action=@{/pageDemo/simple2}">
        <div class="row">
            <div class="span9">
                <div class="span5">

                    <input type="text" class="input-small" th:field="*{name}" placeholder="姓名" name="name"/>
                    <input type="text" class="input-small" th:field="*{email}" placeholder="Email"
                           name="email"/>
                    <input type="text" class="input-small" th:field="*{phone}" placeholder="手机号码"
                           name="phone"/>
                    <button type="submit" class="btn" id="searchButton">搜索</button>

                </div>
                <div class="span1 offset2">
                    <button type="button" class="btn" id="addButton">新增</button>
                </div>
            </div>
            <div class="span9 list">
                <table class="table" id="listTable">
                    <thead>
                    <tr>
                        <th class="center middle"><input type="checkbox" class="allCheck"/></th>
                        <th class="center middle">姓名</th>
                        <th class="center middle">邮箱</th>
                        <th class="center middle">手机号码</th>
                        <th class="center middle">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="addressInfo : ${pages}">
                        <td class="center middle">
                            <input type="checkbox" name="ids" value="" th:value="${addressInfo.id}"/>
                        </td>
                        <td class="center middle" th:text="${addressInfo.name}">Michael Jackson</td>
                        <td class="center middle" th:text="${addressInfo.email}">1@1.com</td>
                        <td class="center middle" th:text="${addressInfo.phone}">186xxxx2514</td>
                        <td class="center middle">
                            <button class="btn btn-link editButton">编辑</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--/table-->

                <div th:include="fragment/layout/pager2::pager" th:with="PageFormId='DemoPageForm'"
                     th:remove="tag"></div>

            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </form>
</div>

</body>
</html>